@using Data.Model;
@{
    ViewBag.Title = "IzmjenaNostrifikacije";
    Layout = "~/Views/Shared/_Admin.cshtml";
    RegistarNostrifikacija n = (RegistarNostrifikacija)ViewData["nostrifikacija"];
}

<link href="~/Content/js/FileUpload/fileinput.css" rel="stylesheet" />
<link href="~/Content/js/FileUpload/fileinput.min.css" rel="stylesheet" />
<script src="~/Content/js/FileUpload/fileinput.js"></script>
<script src="~/Content/js/FileUpload/fileinput.min.js"></script>
<script src="~/Content/js/FileUpload/fileinput_locale_es.js"></script>

<form method="post" enctype="multipart/form-data">
    <div class="col-lg-6">
        @if (ViewBag.Error != null)
        {
            <div class="alert alert-danger">
                <button data-dismiss="alert" class="close" type="button">×</button>
                <strong>Greška!</strong> @ViewBag.Error
            </div>
        }
        @if (ViewBag.Success != null)
        {
            <div class="alert alert-success">
                <button data-dismiss="alert" class="close" type="button">×</button>
                <strong>Obavljeno!</strong> @ViewBag.Success
            </div>
        }
        <div class="panel panel-default">
            <div class="panel-body">
                <h3>Izmjena nostrifikacije</h3>
                <br />
                <input type="hidden" name="nostrifikacijaID" value="@n.RegistarNostrifikacijaID" />
                <label for="disabledSelect">Naziv</label>
                <input class="form-control" name="naziv" placeholder="@n.Naziv">
                <br />
                @if (n.Tip == ".rar")
                {
                    <a href="@n.Lokacija">
                        <img src="~/Content/Icon/rar.png" />
                    </a>
                    <p>@n.Naziv</p>

                    <br />
                }
                else if (n.Tip == ".doc" || n.Tip == ".docx")
                {
                    <a href="@n.Lokacija">
                        <img src="~/Content/Icon/doc.png" />
                    </a>
                    <p>@n.Naziv</p>
                    <br />
                }
                else if (n.Tip == ".zip")
                {
                    <a href="@n.Lokacija">
                        <img src="~/Content/Icon/zip.png" />
                    </a>
                    <p>@n.Naziv</p>
                    <br />
                }
                else if (n.Tip == ".xls" || n.Tip == ".xlsx")
                {
                    <a href="@n.Lokacija">
                        <img src="~/Content/Icon/xls.png" />
                    </a>
                    <p> @n.Naziv</p>
                    <br />
                }
                else if (n.Tip == ".ppt" || n.Tip == ".pptx")
                {
                    <a href="@n.Lokacija">
                        <img src="~/Content/Icon/ppt.png" />
                    </a>
                    <p> @n.Naziv</p>
                    <br />
                }
                else if (n.Tip == ".pdf")
                {
                    <a href="@n.Lokacija">
                        <img src="~/Content/Icon/pdf.png" />
                    </a>
                    <p> @n.Naziv</p>
                    <br />
                }
                <label for="disabledSelect">Odaberite dokument(<span style="color:#ff6a00;">Dodavanjem novog dokumenta obrisat ćete stari dokument</span>)</label>
                <input id="file-0a" class="file" name="dokument" type="file" multiple data-min-file-count="0" />
                <br />
                <button type="submit" class="btn btn-primary">Snimi</button>
            </div>
        </div>
        <a href="/Nostrifikacije/SveNostrifikacije" class="btn btn-info"> Nazad</a>
    </div>
</form>
